#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        // 「3」をタップで数字の3、押しっぱなしでレイヤー1へ
        // 押し込んでいる間だけレイヤー1になります（指を離すと数字に戻る）
        lt_3: layer_tap_3 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_3";
            #binding-cells = <2>;
            tapping-term-ms = <300>; // 0.3秒（少し短くして反応を良くします）
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>; // &tog を &mo に変更
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp KP_N7     &kp KP_N8  &kp KP_N9
                &kp KP_N4     &kp KP_N5  &kp KP_N6
                &kp KP_N1     &kp KP_N2  &lt_3 1 KP_N3  // 押しっぱなしでL1
                &kp KP_N0     &none      &none
            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        video_layer {
            display-name = "Video";
            bindings = <
                &trans        &trans     &trans
                &trans        &trans     &trans
                &trans        &trans     &trans         // 押しっぱなしの間だけ有効なので &trans でOK
                &trans        &trans     &trans
            >;
            // レイヤー1のエンコーダー挙動
            sensor-bindings = <&inc_dec_kp LS(RIGHT) LS(LEFT)>;
        };
    };
};
