#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 図解 [2026-03-10 23.22.19] の並び順

            bindings = <
&kp KP_NUMBER_0  &none
&kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9
&kp KP_NUMBER_4  &kp KP_N5        &kp KP_NUMBER_6
&lt 1 KP_N1      &kp KP_NUMBER_2  &kp KP_NUMBER_3
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            // レイヤー1：FCP編集補助・設定用

            bindings = <
&none  &none
&none  &none  &none
&none  &none  &none
&none  &none  &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
