#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        // 0.5秒（500ms）長押しでレイヤー切り替え、短押しで数字の3を入力する設定

        lt_long: layer_tap_long {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_LONG";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Layer 0: 3番キーの位置を &lt_long 1 KP_N3 に設定

            bindings = <
&kp KP_N7  &kp KP_N8  &kp KP_N9
&kp KP_N4  &kp KP_N5  &kp KP_N6
&kp KP_N1  &kp KP_N2  &lt_long 1 KP_N3
&kp KP_N0
            >;
        };

        video_layer {
            // Layer 1: 戻るためのトグルスイッチを同じ位置に配置

            bindings = <
&trans          &trans  &trans
&kp LEFT_ARROW  &trans  &kp RIGHT_ARROW
&trans          &trans  &tog 1
&trans
            >;
        };
    };
};
